@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0px 32px 0px 32px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 40px;
  justify-content: space-between;
}
@media (max-width: 760px) {
  .row {
    justify-content: center;
  }
}

.col-4 {
  flex: 0 0 auto;
  margin-bottom: 25px;
  width: 350px !important;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: gray;
  transition: 0.5s;
}

.left {
  margin-left: 27px !important;
  transition: 0.5s !important;
}

.right {
  margin-left: -6px !important;
  transition: 0.5s !important;
}

.light {
  background-color: white !important;
  transition: 0.5s !important;
}
.light header {
  background-color: white;
}
.light footer {
  background-color: white;
  transition: 0.5s;
}
.light .modal .main-md {
  background-color: white;
}
.light main .container .length-card {
  background-color: lightblue;
  transition: 0.5s;
}
.light .pagination {
  padding-bottom: 80px;
}
.light .pagination .container .main-pg ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.light .pagination .container .main-pg ul li {
  background-color: lightblue;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid black;
  transition: 0.5s;
}

.top {
  top: 100px !important;
  transition: 0.5s !important;
}